{% extends "layout.html" %}
{% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<body>
      <h2>{{ title }}</h2>
      <div><canvas id="chart" width="700" height="400"></canvas></div>
      <script>
        // bar chart data
        var barData = {
          labels : [
            {% for item in labels %}
             "{{ item }}",
            {% endfor %}
      ],
          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data : [
              {% for item in values %}
                 "{{ item }}",
                {% endfor %}
          ]
            }
          ]
        }
       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");
         steps = 10
         max = {{max}}
       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );
      </script>
  </body>
<table class="table table-hover">
    <thead>
        <th scope="col">Month Name</th>
        <th scope="col">Week 1</th>
        <th scope="col">Week 2</th>
        <th scope="col">Week 3</th>
        <th scope="col">Week 4</th>
        <th scope="col">Week 5</th>
        <th scope="col">Month Total</th>
        <th scope="col">Average Port Time (days)</th>
    </thead>
    <tbody class="shadow hover">
        <tr class="dataframe td shadow">
        {{ df| safe }} 
        </tr>
    </tbody>    
</table>
</div>
<div class="col-md-4">
            <div class="content-section shadow">
                <h3><strong>YTD Metrics</strong></h3>
                <p class='text-muted'>Some year to date metrics.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Total Port-Ins: <strong>{{data['ytd_total']}}</strong>  </li>
                        <li class="list-group-item list-group-item-light">Average Port-Ins Per Month: <strong>{{data['YTD Avg Month']}}</strong> </li>
                        <li class="list-group-item list-group-item-light">Average Length of Port (weekends/holidays included): <strong>{{data['YTD Completion Time']}} days</strong></li>
                        <li class="list-group-item list-group-item-light">YTD Requested Completion Dates Hit: <strong>{{data['YTD CRD']}}%</strong></li>
                    </ul>
                </p>
            </div>
            <p>
            </p>
            <div class="col-xs-6">      
                    <a href={{ url_for('ytd_report') }} class="btn btn-info shadow md-6">
                      <i></i>Generate Report!</a>
            </div>
    </div>
</div>
  </html>
{% endblock content %}
