{% extends "layout.html" %}
{% block content %}
<div class="btn-group-horizontal">
    <a></i>{{btns.v1(class="btn btn-info shadow")}}</a>
    <a></i>{{btns.v3(class="btn btn-info shadow")}}</a>
    <a></i>{{btns.v5(class="btn btn-info shadow")}}</a>
    <a></i>{{btns.v(class="btn btn-info shadow")}}</a>
    <a></i>{{btns.v4(class="btn btn-info shadow")}}</a>
    <a></i>{{btns.v2(class="btn btn-info shadow")}}</a>
    <a></i>{{btns.v6(class="btn btn-info shadow")}}</a>
  </div>  
<p>
</p>
<row>
<div class="container col md-2">
    <h1>VIP Porting Pulse</h1> 
    <div class="container-fluid shadow">
    </div>
    <div>
        <div class="content-section shadow col md-4">
            <h3><strong>VIP Metrics</strong></h3>
            <p class='text-muted'>Some <strong>{{ data['name'] }}</strong> porting metrics.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Current Month: <strong>{{ data['curr_month'] }} Port-Ins</strong>  </li>
                    <li class="list-group-item list-group-item-light">Past Month: <strong>{{ data['past_month'] }} Port-Ins</strong> </li>
                    <li class="list-group-item list-group-item-light">Month to Month Trend [+/-]: <strong>{{ data['diff'] }}%</strong></li>
                    <li class="list-group-item list-group-item-light">Average: <strong>{{ data['average'] }} Port-Ins Per Month</strong></li>
                    <li class="list-group-item list-group-item-light">Total: <strong>{{ data['total'] }} YTD</strong></li>
                </ul>
            </p>
        </div>
        </div>
  </div>
  <div class = "float-left">      
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
          <canvas id="chart" width="300" height="300"></canvas>
          <script>
            var pieData = [
              {% for item, label, colors in set %}
                {
                  value: {{item}},
                  label: "{{label}}",
                  color: "{{colors}}"
                },
              {% endfor %}
            ];
            // get bar chart canvas
            var mychart = document.getElementById("chart").getContext("2d");
            steps = 10
            max = {{ max }}
            // draw pie chart
            new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);
          </script>
    </div>
    </row>
      <div>
        <a href={{ url_for('vip.vip_report') }} class="btn btn-info shadow float-right">
          <i></i>Generate VIP Report!</a>
</div>

{% endblock content %}
