{% extends "layout.html" %}
{% block content %}
<div class="btn-group-horizontal">
    <a href={{ url_for('general') }} class="btn btn-info shadow"></i>Weave</a>
    <a href={{ url_for('general') }} class="btn btn-info shadow"></i>Zang</a>
    <a href={{ url_for('general') }} class="btn btn-info shadow"></i>SignalWire</a>
    <a href={{ url_for('general') }} class="btn btn-info shadow"></i>Zen</a>
    <a href={{ url_for('general') }} class="btn btn-info shadow"></i>Vow</a>
    <a href={{ url_for('general') }} class="btn btn-info shadow"></i>Intulse</a>
  </div>  
<p>
</p>
<div class="container">
    <h1>VIP Porting Pulse</h1> 
    <div class="container-fluid shadow">
    </div>
    <div>
        <div class="content-section shadow">
            <h3><strong>VIP Metrics</strong></h3>
            <p class='text-muted'>Some VIP metrics.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Total Port-Ins: <strong>{{data['ytd_total']}}</strong>  </li>
                    <li class="list-group-item list-group-item-light">Average Port-Ins Per Month: <strong>{{data['YTD Avg Month']}}</strong> </li>
                    <li class="list-group-item list-group-item-light">Average Length of Port (weekends/holidays included): <strong>{{data['YTD Completion Time']}} days</strong></li>
                    <li class="list-group-item list-group-item-light">YTD Requested Completion Dates Hit: <strong>{{data['YTD CRD']}}%</strong></li>
                </ul>
            </p>
        </div>
      <div>
        <a href={{ url_for('general') }} class="btn btn-info shadow">
          <i></i>Generate Report!</a>
    </div>      
  <p>
  </p>
{% endblock content %}
